GOOGLE_CLIENT_ID=твой-google-client-id
GOOGLE_CLIENT_SECRET=твой-google-client-secret
JWT_SECRET=mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLongForSecurity
POSTGRES_PASSWORD=postgres
FRONTEND_LOGIN_CALLBACK=http://localhost:8080/theGame/login/callback
